.idea/
.vscode/
.bsp/
.metals/
.bloop/

/rust/**/target/

/scala/**/target/
/scala/**/metals.sbt
/scala/*.zip

/java/**/build/
/java/**/bin/
/java/*.zip

/js/**/lib/
/js/**/obj/
/js/**/node_modules/
/js/**/*.tgz
